<section class="container mx-auto p-10 lg:p-0 lg:pt-36" id="work">
    <div class='flex flex-col text-white'>
        <h2 class="capitalize leading-relaxed text-sm lg:text-2xl pb-2 text-center">time is relative</h2>
        <h2 class="leading-relaxed text-3xl pb-10 lg:text-5xl text-center">MY TIMELINE</h2>
    </div>
    <div class="grid grid-cols-3 hidden sm:block">
        <div class="flex justify-center col-span-3">
            <div class="flex flex-col">
                <div class="nes-balloon from-right nes-pointer w-96">
                    <h1 class="text-2xl">2019 - 2020</h1>
                    <p class="text-red-600">Finalized.</p>
                    <p class="text-lg capitalize">adsi technology in web development at sena colombia.</p>
                </div>
                <div class="nes-balloon from-right nes-pointer w-96">
                    <h1 class="text-2xl">2020 - 2021</h1>
                    <p class="text-red-600">Finalized.</p>
                    <p class="text-lg capitalize">1 year working as a full stack developer with vue and php at sena
                        colombia.</p>

                </div>
            </div>
            <div class="p-1 bg-zinc-500 w-2 m-2"></div>
            <div class="flex flex-col">
                <div class="nes-balloon from-left nes-pointer w-96">
                    <h1 class="text-2xl">2022 - Present</h1>
                    <p class="text-green-600">In process.</p>
                    <p class="text-lg capitalize">FUP systems engineering student</p>
                </div>
                <div class="nes-balloon from-left nes-pointer w-96">
                    <h1 class="text-2xl">2022 - Present</h1>
                    <p class="text-green-600">In process.</p>
                    <p class="text-lg capitalize">building a virtual store for manganics with react and django.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block sm:hidden">
        <div class="flex flex-row gap-4">
            <div class="p-1 bg-zinc-500 w-2 m-2"></div>
            <div>
                <div class="nes-balloon from-left nes-pointer w-full">
                    <h1 class="text-2xl">2019 - 2020</h1>
                    <p class="text-red-600">Finalized.</p>
                    <p class="text-lg capitalize">adsi technology in web development colombia.</p>
                </div>
                <div class="nes-balloon from-left nes-pointer w-full">
                    <h1 class="text-2xl">2020 - 2021</h1>
                    <p class="text-red-600">Finalized.</p>
                    <p class="text-lg capitalize">1 year working as a full stack developer with vue and php at sena
                        colombia.</p>
                </div>
                <div class="nes-balloon from-left nes-pointer w-full">
                    <h1 class="text-2xl">2022 - Present</h1>
                    <p class="text-green-600">In process.</p>
                    <p class="text-lg capitalize">FUP systems engineering student.</p>
                </div>
                <div class="nes-balloon from-left nes-pointer w-full">
                    <h1 class="text-2xl">2022 - Present</h1>
                    <p class="text-green-600">In process.</p>
                    <p class="text-lg capitalize">building a virtual store for manganics with react and django.</p>
                </div>
            </div>
        </div>
    </div>
    <br />

</section>